{% extends "layout.html" %}

{% block content %}

{% with infos = get_flashed_messages(category_filter=["info"]) %}

{% if infos %}
{% for message in infos %}

<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span>
  </button>
  {{message}}
</div>

{% endfor %}

{% endif %}

{% endwith %}

<h2>About the Change Service</h2>

<h3>Summary</h3>
<p>
<h4>Full list of apis is at <code>/api</code></h4>

<p>
  Here is a preformatted block
<pre>
root
├── sms
│   ├── incoming_sms
│   ├── outgoing_sms
│   │   ├──outgoing_sms_us
│   │   └──outgoing_sms_uk
└── └── calls
    ├── incoming_calls
    |   ├──incoming_calls_us
    |   └──incoming_calls_voicemail
    └── outgoing_calls
       ├──outgoing_calls_us
       |   ├──outgoing_calls_regular
       |   ├──outgoing_calls_tollfree
       |   └──outgoing_calls_premium
       ├──outgoing_calls_uk
       └──outgoing_calls_fr
</pre>
</p>
{% endblock %}
