{% extends "layout.html" %}

{% block content %}

<div id="changePost" class="onePadding">
  <div class="alert alert-success hidden" id="success_alert" role="alert">
    <p id="success_message"></p>
  </div>


  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal">

        <p>There is no validation for now. So refrain from creating something that is a child of
          something that doesn't exist</p>

        <div class="form-group">
          <label for="inputStatus" class="col-sm-2 control-label">Status</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputStatus" placeholder="status"
                   name="status">
          </div>
        </div>
        <div class="form-group">
          <label for="inputDesc" class="col-sm-2 control-label">Description</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDesc" placeholder="description"
                   name="description">
          </div>
        </div>

        <div class="form-group">
          <label for="inputUser" class="col-sm-2 control-label">User</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUser" placeholder="user"
                   name="user">
          </div>
        </div>

        <div class="form-group">
          <label for="inputSNName" class="col-sm-2 control-label">Node_Name</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSNName" placeholder="SchemaNode_Name"
                   name="sn_name">
          </div>
        </div>

        <div class="form-group">
          <label for="inputSNChildOf" class="col-sm-2 control-label">Node_Child_Of</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSNChildOf"
                   placeholder="SchemaNode_Child_Of"
                   name="sn_child_of">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary btn-sm" onclick="saveChange();">Propose
              Change
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script lang="text/javascript" src="{{url_for('static', filename='scripts/change.js')}}">


</script>
{% endblock %}
