{% extends "layout.html" %}


{% block content %}

<ul>
  <li>
    <h4>If this is your first time here head on to the About page</h4>
  </li>
  <li>
    <h4>Otherwise select an option from the menu</h4>
  </li>
</ul>

{% endblock %}
