<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- United theme from https://bootswatch.com/united/ -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
  <title>Change Service</title>
  {% endblock %}
</head>
<body>
<div id="container">

  {% block navigation %}
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('page_index')}}">Change API</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          {% if selected_menu_item == "index" %}
          <li class="active"><a href="#">Home</a></li>
          {% else %}
          <li><a href="{{url_for('page_index')}}">Home</a></li>
          {% endif %}

          {% if selected_menu_item == "about" %}
          <li class="active"><a href="#">About</a></li>
          {% else %}
          <li><a href="{{url_for('page_about')}}">About</a></li>
          {% endif %}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true"
               aria-expanded="false">Entities <span class="caret"></span></a>
            <ul class="dropdown-menu">

              {% if selected_menu_item == "changes" %}
              <li><a href="#">Changes</a></li>
              {% else %}
              <li><a href="{{url_for('page_change')}}">Changes</a></li>
              {% endif %}

            </ul>
          </li>

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  {% endblock %}

  {% block content %}


  {% endblock %}
</div>

{% block scripts %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}


</body>
</html>
